<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand h1 mb-0" href="#">Affixus</a>
</nav>


<div class="container-fluid">
  <div class="row justify-content-center align-items-center" style="height:80vh;">
      <div class="col-12 col-sm-12 col-md-6">
        <div class="card">
          <div class="card-header h6 mb-0">React Native Input - File Upload</div>
          
          <div class="card-body" style="min-height:10rem;">
              
          </div>

          <div class="card-footer" style="font-size:small;">Reference implementation</div>
        </div>    
      </div>
  </div>
</div>