<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand h1 mb-0" href="#">Affixus</a>
</nav>


<div class="container-fluid">
  <div class="row justify-content-center align-items-center" style="height:80vh;">
      <div class="col-12 col-sm-12 col-md-6">
        <div class="card">
          <div class="card-header h6 mb-0">React Native Input - File Upload</div>
          
          <div class="card-body make-center" style="height:10rem;">
            <form>
              <div class="form-group">
                <label style="cursor: pointer;" class="bg-secondary text-white form-control form-control-lg">Upload Image
                  <input style="display: none;" (change)="processImage($event)"  accept="image/*" multiple type="file" class="form-control-file" >
                </label>     
              </div>
            </form>
          </div>

          <div class="card-body make-center" *ngIf="imgBlock">
              <img [src]="imageSource" height="75">
          </div>

          <div class="card-footer" style="font-size:small;">Reference implementation</div>
        </div>    
      </div>
  </div>
</div>